.galery{
    width: 100%;
    height: 100%;
    background-color: rgb(134, 69, 69);
}
.parent {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 4fr 1fr 4fr 1fr 4fr 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 1fr 4fr repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    
    }
    
    .div1 { 
        border-radius: 5%;
        background-color: white;
        grid-area: 2 / 2 / 4 / 3; 
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .div2 { 
        grid-area: 3 / 2 / 4 / 3; 
        background-color: white;
        border-radius: 5%;
    }
    .div3 { 
        grid-area: 4 / 4 / 6 / 5; 
        background-color: white;
        border-radius: 5%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .div4 { 
        grid-area: 5 / 4 / 6 / 5; 
        background-color: white;
        border-radius: 5%;
    }
    .div5 { 
        grid-area: 2 / 6 / 4 / 7; 
        background-color: white;
        border-radius: 5%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .div6 { 
        grid-area: 3 / 6 / 4 / 7; 
        background-color: white;
        border-radius: 5%;
    }
    .div7 { 
        grid-area: 4 / 8 / 6 / 9; 
        background-color: white;
        border-radius: 5%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .div8 { 
        grid-area: 5 / 8 / 6 / 9; 
        background-color: white;
        border-radius: 5%;
    }
    .div9 { 
        grid-area: 2 / 10 / 4 / 11; 
        background-color: white;
        border-radius: 5%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .div10 { 
        grid-area: 3 / 10 / 4 / 11; 
        background-color: white;
        border-radius: 5%;
    }
    .foto1{
        background-image: url("./../imagens/foto1.png");
        width: 170px;
        height: 200px;
        align-items: center;
    }
    .foto2{
        background-image: url("./../imagens/foto1.png");
        width: 170px;
        height: 200px;
        align-items: center;
    }
    .foto3{
        background-image: url("./../imagens/foto1.png");
        width: 170px;
        height: 200px;
        align-items: center;
    }
    .foto4{
        background-image: url("./../imagens/foto1.png");
        width: 170px;
        height: 200px;
        align-items: center;
    }
    .foto5{
        background-image: url("./../imagens/foto1.png");
        width: 170px;
        height: 200px;
        align-items: center;
    }