:root{
    --galeryoffset: 10%;
}
*{
    margin: 0px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #888;
}
.fotos> div{
    background-position: center;
    background-size: cover;
    transition: all 0.5s;
    filter: grayscale(0);
}
.fotos>div:hover {
    transform: scale(1.2);
    filter: grayscale(100%);
    transform: scale(1.2);
    transition: 1s;
    z-index: 1 ;
}
.galery{
    width: 90%;
    height: 90%;
    background-color: white;
    overflow: hidden;
}
.fotos:hover{
    animation-play-state: paused;
}
.fotos{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 2fr);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    height: 100vh;
    width: calc(100% + var(--galeryoffset));
    background-size: contain;
    animation: slides 5s infinite alternate  ;
}
@keyframes slides{
    from{margin-left: 0%;}
    to{margin-left: calc(-1*var(--galeryoffset));}
}
 
.div1 {
    grid-area: 1 / 1 / 2 / 2;
    background-image: url("./../imagens/foto1.png");
    background-size: cover;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
    background-image: url("./../imagens/foto2.png");
    background-size: cover;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
    background-image: url("./../imagens/foto3.png");
    background-size: cover;
}

.div4 {
    grid-area: 1 / 4 / 3 / 5;
    background-image: url("./../imagens/foto4.png");
    background-size: cover;
}

.div5 {
    grid-area: 1 / 5 / 2 / 6;
    background-image: url("./../imagens/foto5.png");
    background-size: cover;
}

.div6 {
    grid-area: 1 / 6 / 2 / 8;
    background-image: url("./../imagens/foto6.png");
    background-size: cover;
}

.div7 {
    grid-area: 1 / 8 / 3 / 9;
    background-image: url("./../imagens/foto7.png");
    background-size: cover;
}

.div8 {
    grid-area: 2 / 1 / 3 / 3;
    background-image: url("./../imagens/foto8.png");
    background-size: cover;
}

.div9 {
    grid-area: 2 / 3 / 4 / 4;
    background-image: url("./../imagens/foto9.png");
    background-size: cover;
}

.div10 {
    grid-area: 2 / 5 / 4 / 7;
    background-image: url("./../imagens/foto10.png");
    background-size: cover;
}

.div11 {
    grid-area: 2 / 7 / 3 / 8;
    background-image: url("./../imagens/foto11.png");
    background-size: cover;
}

.div12 {
    grid-area: 3 / 1 / 5 / 3;
    background-image: url("./../imagens/foto12.png");
    background-size: cover;
}

.div13 {
    grid-area: 3 / 4 / 4 / 5;
    background-image: url("./../imagens/foto13.png");
    background-size: cover;
}

.div14 {
    grid-area: 3 / 7 / 6 / 9;
    background-image: url("./../imagens/foto14.png");
    background-size: cover;
}

.div15 {
    grid-area: 4 / 3 / 6 / 5;
    background-image: url("./../imagens/foto15.png");
    background-size: cover;
}

.div16 {
    grid-area: 4 / 5 / 6 / 6;
    background-image: url("./../imagens/foto16.png");
    background-size: cover;
}

.div17 {
    grid-area: 4 / 6 / 5 / 7;
    background-image: url("./../imagens/foto17.png");
    background-size: cover;
}

.div18 {
    grid-area: 5 / 1 / 6 / 2;
    background-image: url("./../imagens/foto18.png");
    background-size: cover;
}

.div19 {
    grid-area: 5 / 2 / 6 / 3;
    background-image: url("./../imagens/foto19.png");
    background-size: cover;
}

.div20 {
    grid-area: 5 / 6 / 6 / 7;
    background-image: url("./../imagens/foto20.png");
    background-size: cover;
}

